# === Java ===
*.class
*.jar
*.war
*.ear

# Logs
*.log

# === Maven ===
target/
/target/


# === Gradle ===
.gradle/
build/

# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws
out/
/test/
test/

# === Eclipse (if someone uses Eclipse) ===
.project
.classpath
.settings/
bin/

# === System ===
.DS_Store
Thumbs.db
