# === Java ===
*.class
*.jar
*.war
*.ear

# Logs
*.log

# === Maven ===
target/
/target/


# === Gradle ===
.gradle/
build/

# === IntelliJ IDEA ===
.idea/
*.iml
*.ipr
*.iws
out/

# === Eclipse (por si alguien abre con Eclipse) ===
.project
.classpath
.settings/
bin/

# === Sistema ===
.DS_Store
Thumbs.db
